@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

nav {
    font-size: small;
    background-color: #2E557B;
    margin: 0 auto;
    border-bottom: 2px solid orange;
}
.navbar a.navbar-brand{
    font-size: small;
    color: white;
    text-transform: capitalize;
}
.navbar-collapse ul.navbar-nav{
    margin-left: 50%;
    margin-top: 2px;
}
.navbar-collapse li.dropdown button{
    padding: 5px;
    font-size: small;
}
.flag-icon{
    width: 25px;
}
.navbar-collapse ul{
    text-align: center;
    margin-top: 10px;
}
.navbar-collapse ul.navbar-nav li.nav-item a.nav-link{
    padding: 5px;
    color: white;
}