<div class="col-sm-11"
     style="margin: 0 auto">
  <div class="row">
    <div class="col-md-2  collapse in" id="sidebar" style="padding: 0">
    </div>
    <main class="col-md-12 col-xs-11 p-l-2 p-t-2">
      <div class="row">
        <div class="col-sm-11" style="margin: 0 auto">
          <div class="col-md-12 content-head">
            <div class="row">
              <div class="col-md-10">
                <h5 style="float: left; font-size: small; font-weight: bold; padding: 5px">List Of Primary Schools</h5>
              </div>
              <div class="col-md-2">
                <a class="btn btn-success"  routerLink="/schools/create"><i class="fa fa-plus-circle"></i> Add School</a>
              </div>
            </div>
          </div>
          <div class="col-md-12 content"  style="background-color: white">
            <table class="table table-sm table-striped table-bordered" id="myTable">
              <thead>
              <tr>
                <th>No</th>
                <th style="width: 150px">Name</th>
                <th>schools</th>
                <th>students</th>
                <th style="width: 70px">Actions</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>1</td>
                <td>ww</td>
                <td>ww</td>
                <td>ww</td>
                <td>ww</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

