@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

.login-container{
    padding: 10px;
    margin:  45px auto;
    background-color: whitesmoke;
    border-radius: 4px;
    border: 1px solid #EAE9E9;
    box-shadow: 1px 2px 2px 0 #ABB2B9;
    border-top: 3px solid #45AFAC;
}
.login-panel{

    background-color: white;
    border: 1px solid whitesmoke;
    padding: 0;
    /*box-shadow: 1px 2px 2px 0 #ABB2B9;*/
}
.login-head{
    background-color: #A9CCE3;
    border-bottom: 1px solid #ABB2B9;
    padding: 10px;
    font-size: small;
    text-align: center;
    text-transform: capitalize;

}
.login-head h4 {
    color: #2C3E50;
    font-size: 15px;
}
.login-body{
    padding: 10px 40px 60px 40px;
    font-size: small;
    color: #424949;
}
.form-group .input-group input.form-control{
    height: 33px;
    font-size: small;
}
.form-group .input-group input.form-control::placeholder{
    font-size: small;
}
.forgot-password{
    margin-bottom: 10px;
}
.body{
    background-color: whitesmoke;
}
.footer-body{
    padding: 10px;
    font-size: small;
}
.footer-address{
    font-size: small;
}
.footer{
    font-size: small;
    color: #99A3A4;
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    background-color: white;
    margin: 0 auto;
}
.brand{
    margin: 15px 0 15px 0;
    font-family: Roboto;
    text-align: center;
}
.flag-icon{
    width: 60px;
    float: left;
    height: 35px;
}
.logo{
    float: right;
    border-radius: 360px;
    width: 30px;
    height: 30px;
}