<div class="col-md-7 form">
  <div class="form-head">
      <div class="col-md-12" style="text-align: center">
          <img src="{{school1}}" alt="No school image" class="school-image" style="margin: 0 auto">
      </div>
    <h4 style="font-family: cursive; color: #91BEE3">
    Fill the form below to create new school
    </h4>
  </div>
  <div class="col-md-11 form-body">
      <div class="form-outer" style="border: 1px solid #D6DBDF; padding: 2px; margin: 15px auto; border-radius: 4px; background-color: whitesmoke">
    <form [formGroup]="formData"  (ngSubmit)="createSchool(formData.value)" class="form-inner" style="margin: 0; background-color: white">

      <div class="form-group">
        <label for="name" class="col-form-label"><strong>School Name <i class="text-danger"> *</i></strong> </label>
        <div class="input-group">
          <input type="text" formControlName="name" class="form-control-sm form-control" id="name" placeholder="school name">
        </div>
      </div>

      <div class="form-group">
        <label for="regNumber" class="col-form-label"><strong>Reg Number <i class="text-danger"> *</i></strong> </label>
        <div class="input-group">
          <input type="text" formControlName="regNumber" class="form-control-sm form-control" id="regNumber" placeholder="Registration number">
        </div>
      </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="region" class=" col-form-label"><strong>Region <i class="text-danger"> *</i></strong> </label>
                    <div class="form-group">
                        <select id="region" formControlName="region" class="form-control form-control-sm">
                            <option value="" selected>choose region</option>
                            <option value="Dar es salaam">Dar es salaam</option>
                            <option value="arusha">Arusha</option>
                            <option value="pwani">Pwani</option>
                            <option value="tanga">Tanga</option>
                            <option value="mwanza">Mwanza</option>
                            <option value="dodoma">Dodoma</option>
                            <option value="kigoma">Kigoma</option>
                            <option value="morogoro">Morogoro</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="district" class="col-form-label"><strong>District <i class="text-danger"> *</i></strong> </label>
                    <div class="form-group">
                        <select id="district" formControlName="district" class="form-control form-control-sm">
                            <option value="" selected>choose region</option>
                            <option value="bagamoyo">Bagaamoyo</option>
                            <option value="muheza">Muheza</option>
                            <option value="chalinze">Chalinze</option>
                            <option value="kibaha">Kibaha</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="ward" class=" col-form-label"><strong>Location <i class="text-danger"> *</i></strong> </label>
                    <div class="form-group">
                        <select id="ward" formControlName="ward" class="form-control form-control-sm">
                            <option value="" selected>choose region</option>
                            <option value="msata">Msata</option>
                            <option value="kiwangwa">Kiwangwa</option>
                            <option value="dunda">Dunda</option>
                            <option value="tabata">Tabata</option>
                            <option value="temeke">Temeke</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

      <div class="form-group">
        <label for="level" class="col-form-label"><strong> Level <i class="text-danger"> *</i></strong> </label>
        <div class="input-group">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="level" formControlName="level" id="level" value="primary">Primary
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="level" formControlName="level" value="secondary">secondary
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="level" formControlName="level" value="advance">Advance
                </label>
            </div>
        </div>
      </div>

        <div class="form-group">
            <label for="dateStarted" class="col-form-label"><strong>Date started <i class="text-danger"> *</i></strong> </label>
            <div class=" input-group">
                <input type="date" formControlName="dateStarted" class="form-control-sm form-control" id="dateStarted" placeholder="Date started">
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="genderOrientation" class=" col-form-label"><strong>Gender Type <i class="text-danger"> *</i></strong> </label>
                    <div class="form-group">
                        <select id="genderOrientation" formControlName="genderOrientation" class="form-control form-control-sm">
                            <option value="" selected>choose gender</option>
                            <option value="Dar es salaam">Core</option>
                            <option value="arusha">Boys</option>
                            <option value="pwani">Girls</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="ownership" class="col-form-label"><strong>Ownership <i class="text-danger"> *</i></strong> </label>
                    <div class="form-group">
                        <select id="ownership" formControlName="ownership" class="form-control form-control-sm">
                            <option value="" selected>choose ownership</option>
                            <option value="public">Public</option>
                            <option value="private">Private</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="schoolType" class=" col-form-label"><strong>School Type <i class="text-danger"> *</i></strong> </label>
                    <div class="form-group">
                        <select id="schoolType" formControlName="schoolType" class="form-control form-control-sm">
                            <option value="" selected>school type</option>
                            <option value="day">Day School</option>
                            <option value="boarding">Boarding school</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


      <div class="form-group">
        <label for="name" class="col-form-label"> </label>
        <div class="input-group">
          <button class="btn btn-block btn-success" type="submit" style="font-family: cursive"> Register
              <ngx-spinner></ngx-spinner>
          </button>
        </div>
      </div>

    </form>
      </div>
  </div>
</div>
