@import "~ngx-toastr/toastr.css";


.form{
    margin: 25px auto;
    background-color: white;
    font-size: small;
    padding: 0;
    border: 1px solid #CCD1D1;
}
.form-body{
    margin: 0 auto;
    padding: 5px;
}
.form-body .form-outer{
    border: 1px solid lightsteelblue;
    padding: 1px;
    margin: 15px auto;
}

.form-inner{
    padding: 15px 20px;
    border: 1px solid #EBEDEF;
    /*margin:  15px auto;*/
    border-radius: 4px;
    background-color: white;
}
.form-inner .form-group{
    margin-bottom: 0;
}
.form-inner .form-group .input-group .form-control{
    margin-bottom: 0;
    font-family: cursive;
    font-size: 14px;
    border: 1px solid #D6DBDF;
}
.form-head h4 {
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: #555B5C;
    font-weight: bold;
}
.form-head{
    padding: 15px;
    border-bottom: 2px solid #555B5C;
}
.input-group input.form-control{
    font-size: small;
    font-family: 'Andika', sans-serif;
    /*background-color: #E9EFFB;*/
}
.input-group input::placeholder{
    color: #ABB2B9;
}
.form-group select option{
    font-size: small;
    color: #ABB2B9;
}
.form-control select.form-control{
    font-size: small;
    color: #ABB2B9;
    border-radius: 0;
}
.form-check-label{
    font-size: small;
}
.form-check-label input{

}
.form-check label.form-check-label input.form-check-input{
    margin-right: 415px;
}
.col-form-label{
    font-family: cursive;
    color: #555B5C;
}
.school-image{
    width: 70px;
    height: 60px;
}
