@import "~bootstrap/dist/css/bootstrap.min.css";

app-home-component{
    overflow: auto;
}
.carousel-panel{
    padding: 0;
}
.home-links{
    padding: 10px;
    background-color: #CCD1D1;
    border-bottom: 2px solid #99A3A4;

}
.home-links h4{
    font-size: small;
    text-align: center;
}
.quick-links{
    background-color: whitesmoke;
    min-height: 205px;
    border-bottom: 1px solid #CCD1D1;
}
.quick-links ul{
    padding: 5px;
}
.quick-links ul li{
    list-style-type: none;
    padding: 2px;
}
.quick-links ul li a{
    font-size: small;
    text-decoration: none;
    padding: 5px;
    color: #424949;
}
.quick-links ul li a:hover{
    color: orangered;
}

.general-head{
    padding: 10px;
    background-color: #A2D9CE;
    border-bottom: 1px solid #138D75;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}
.general-head h4{
    font-size: small;
    text-align: center;
}
.filters{
    background-color: white;
    min-height: 205px;
    font-size: small;
    box-shadow: 0 2px 2px 0 #E5E8E8;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.filters .row{
    padding: 5px;
}
.filters .date small{
    color: red;
    padding: 5px;
}
.filters  a{
    color: #424949;
}
.new-icon{
    width: 30px;

}
.news-links{
    border-bottom: 1px solid #CCD1D1;
}
.instructions{
    background-color: white;
    min-height: 170px;
    padding: 15px;
    font-size: small;
    border-top: 2px solid silver;
    box-shadow: 1px 3px 3px 1px #CCD1D1;
    color: #616A6B;
}
.instructions ol li{
    margin-bottom: 10px;
}
.flag-icon{
    height: 30px;
    width: 30px;
}
.content{
    border: 1px solid #E5E8E8;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 #E5E8E8;
    font-size: small;
    padding: 25px;
}
.add{
    font-size: small;
    padding: 4px;
}
.pull-right{
    margin-bottom: 5px;
}
.filters-body{
    font-size: smaller;
    color: #808B96;
}
.filters-body select.form-control{
    font-size: small;
    color: #808B96;
    padding: 2px;
}

.filters-body select option{
    font-size: small;
    color: #808B96;
    padding: 2px;
}

.filters{
    padding: 25px;
    font-size: smaller;
    background-color: whitesmoke;
}
@media (min-width: 520px) {

}
