<div class="col-sm-11"
     style="margin: 0 auto">
    <div class="row">
      <div class="col-md-2  collapse in" id="sidebar" style="padding: 0">
      </div>
      <main class="col-md-12 col-xs-11 p-l-2 p-t-2">
        <div class="row">
          <!--<div class="col-sm-3" style="margin-bottom: 25px">-->
            <!--<div class="general-head">-->
              <!--<h4><strong><i class="fa fa-filter" style="float: left"></i> Advanced filter Options</strong></h4>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="filters">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="filters-body">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="schoolType"><strong>School Type</strong></label>&ndash;&gt;-->
                <!--&lt;!&ndash;<form action="#" method="post">&ndash;&gt;-->
                  <!--&lt;!&ndash;<select id="schoolType" formControlName="schoolType" name="schoolType" class="form-control">&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="All" selected>All</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="Day">Day</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="Boarding">Boarding</option>&ndash;&gt;-->
                  <!--&lt;!&ndash;</select>&ndash;&gt;-->

                  <!--&lt;!&ndash;<label for="gender"><strong>Gender Type</strong></label>&ndash;&gt;-->
                  <!--&lt;!&ndash;<select id="gender" formControlName="gender" name="gender" class="form-control">&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="All" selected>All</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="Core">Core</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="Single">Single</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="Girls">Girls</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="Boys">Boys</option>&ndash;&gt;-->
                  <!--&lt;!&ndash;</select>&ndash;&gt;-->

                  <!--&lt;!&ndash;<button class="btn btn-primary btn-block" style="font-size: small; padding: 4px; margin-top: 5px">Filter</button>&ndash;&gt;-->
                <!--&lt;!&ndash;</form>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->

          <div class="col-sm-11" style="margin: 0 auto">
            <div class="col-md-12 content-head">
              <a class="btn btn-success"  routerLink="/schools/create"><i class="fa fa-plus-circle"></i> Add School</a>
            </div>
            <ngx-spinner
                    bdColor="rgba(51,51,51,0.8)"
                    size="small"
                    color="#fff"
                    fullScreen = "false"
                    type="line-scale-pulse-out">
              <span>sending message...</span>
            </ngx-spinner>
            <div class="col-md-12 content"  style="background-color: white">
              <a routerLink="/schools/primary" (click)="getPrimarySchools()">schools</a>
                <table class="table table-sm table-striped table-bordered" id="myTable">
                  <thead>
                  <tr>
                    <th>No</th>
                    <th style="width: 150px">Name</th>
                    <th>RegNumber</th>
                    <th>Location</th>
                    <th>SchoolType</th>
                    <th>GenderOrientation</th>
                    <th>Level</th>
                    <th>Ownership</th>
                    <th style="width: 70px">Actions</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr *ngFor="let school of schools; index as i">
                    <td>{{ i+1}}</td>
                    <td>{{ school.name}}</td>
                    <td>{{ school.regNumber}}</td>
                    <td>{{ school.region}}</td>
                    <td>{{ school.schoolType}}</td>
                    <td>{{ school.genderOrientation}}</td>
                    <td>{{ school.level}}</td>
                    <td>{{ school.ownership}}</td>
                    <td>
                      <a style="margin: 3px"><i class="fa fa-eye text-info"></i></a>
                      <a style="margin: 3px" ><i class="fa fa-edit text-success"></i></a>
                      <a style="margin: 3px" ><i class="fa fa-trash text-danger"></i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
