@import "~bootstrap/dist/css/bootstrap.min.css";

app-home-component{
    overflow: auto;
}
.carousel-panel{
    padding: 0;
}
.home-links{
    padding: 10px;
    background-color: #CCD1D1;
    border-bottom: 2px solid #99A3A4;

}
.home-links h4{
    font-size: small;
    text-align: center;
}
.quick-links{
    background-color: #B7C8E3;
    background-color: whitesmoke;
    min-height: 205px;
    border-bottom: 1px solid #CCD1D1;
}
.quick-links ul{
    padding: 5px;
}
.quick-links ul li{
    list-style-type: none;
    padding: 2px;
}
.quick-links ul li a{
    font-size: small;
    text-decoration: none;
    padding: 5px;
    color: #424949;
}
.quick-links ul li a:hover{
    color: orangered;
}

.general-head{
    padding: 10px;
    background-color: #FA8072;
    border-bottom: 2px solid #138D75;

}
.general-head h4{
    font-size: small;
    text-align: center;
}
.general-news{
    background-color: #A2D9CE;
    background-color: whitesmoke;
    min-height: 205px;
    border-bottom: 1px solid #CCD1D1;
    font-size: small;

}
.general-news .row{
    padding: 5px;
}
.general-news .date small{
    color: red;
    padding: 5px;
}
.general-news  a{
    color: #424949;
}
.new-icon{
    width: 30px;

}
.news-links{
    border-bottom: 1px solid #CCD1D1;
}
.instructions{
    background-color: #D6EAF8;
    min-height: 170px;
    padding: 15px;
    font-size: small;
    border-top: 3px solid #A569BD;
    box-shadow: 1px 3px 3px 0 #CCD1D1;
    color: #616A6B;
}
.instructions ol li{
    margin-bottom: 10px;
}