<app-main>
   <div class="col-sm-9" style="margin: 0 auto; background-color: whitesmoke">
      <div class="row" style="padding: 25px">
          <div class="col-sm-12">
              <div class="row" style="background-color: whitesmoke; padding: 1px">
                  <div class="col-sm-8 carousel-panel" style="padding: 0">
                      <carousel >
                          <slide *ngFor="let slide of slides">
                              <img src="{{ slide.img}}" alt="image slide" class="slide-image" style="display: block; width: 100%; height: 250px">
                          </slide>
                      </carousel>
                  </div>

                  <div class="col-sm-4" style=" padding-right: 0">
                      <div class="general-head">
                          <h4>General News</h4>
                      </div>
                      <div class="general-news">
                          <div class="row">
                              <div class="col-sm-2 date">
                                  <img src="{{ red_fire}}" class="new-icon">

                              </div>
                              <div class="col-sm-10">
                                  <a routerLink="">
                                      General information about form four application
                                  </a>
                                  <small style="color: #CCD1D1">20, oct</small>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-sm-2 date">
                                  <img src="{{ red_fire}}" class="new-icon">

                              </div>
                              <div class="col-sm-10">
                                  <a routerLink="">
                                      General information about form four application
                                  </a>
                                  <small style="color: #CCD1D1">20, oct</small>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
              </div>
          </div>


       <div class="row" style="padding: 15px">
           <div class="col-sm-12 ">
               <div class="instructions">
                   <strong>Steps to apply</strong>
                   <ol>
                       <li>
                           Login to the system to apply for admission. to login into the system please click a login button
                           on top of navigation bar or <a routerLink="login">Click here</a> to login. The login credentials should be as follows;
                           <strong><span style="color: chocolate">username</span> : form4 index number</strong> and <strong><span style="color: chocolate">password</span> : your last name</strong>
                       </li>
                       <li>
                           After successfully logged in student should change the password for security purpose. if you won't change
                           the password you can not be able to apply for admission.
                       </li>
                       <li>
                           All students who needs to continue with government schools are required to apply for admission. If the student
                           from private schools will not apply for admission  the government will admit him/her a second priority.
                       </li>

                   </ol>
               </div>
           </div>
       </div>
   </div>
</app-main>
<router-outlet></router-outlet>